* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: white;
}

.app {
    display: flex;
    height: 100vh;
}

/*Sidebar display*/ 
.sidebar {
    width: 240px;
    background-color: #000;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 12px;
    color: #b3b3b3;
    cursor: pointer;
}

.sidebar li:hover {
    color: white;
}

/*Main content*/
main {
    flex: 1;
    background-color: #181818;
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    padding: 10px 20px;
    background-color: #101010;
    display: felx;
    align-items: center;
    gap: 10px;
}

.header button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.content {
    padding: 20px;
}